
<div class="container">
<% if(userId) { %>
<h2><a href="/workouts/new">Upload a Workout</a> </h2>
<% } %>
<% for(let workout of workouts) {%>
    <div class="ui-workout">
    <img src="<%= workout.image_url%>" alt="">
    <a href="/workouts/<%= workout.id%>">
        <%= workout.title %>
    </a>
</div>
<%}%>
</div>