<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitConnect</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body>
    <h1>FitConnect</h1>
    
    <header class="nav-bar">
        <nav>
            <% if (userId) { %>
                <div class="logged-user">
                <p>Logged in as <%= user.username %></p>
            </div>
                <a class="nav-bar-link" href="/">Home</a>
                <form class="logout-form" action="/logout" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="nav-bar-link logout-button" type="submit">Logout</button>
                </form>
            <% } else { %>
                <a class="nav-bar-link" href="/login">Login</a>
                <a class="nav-bar-link" href="/users/signup">Sign Up</a>
                <a class="nav-bar-link" href="/">Home</a>
            <% } %>
        </nav>
    </header>
      
    <%- body %>
    <div class="content-wrap">
        <footer>&copy; FitConnect 2023</footer>
    </div>
</body>

</html>
