<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Library</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>FitConnect</h1>
    <%- body %>
    <footer>&copy; 2023</footer>
</body>
</html>