<h2>Sign Up</h2>
<form action="/users" method="post" class="signup-form"> 
<label for="">E-mail</label>
<input type="text" name="email" class="email">
<label for="">Username</label>
<input type="text" name="username" class="username">
<label for="">Password</label>
<input type="password" name="password" class="password">
<button>Sign Up</button>
</form>